/* VARIABLES */
body {
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
  box-sizing: border-box;
}

.header {
  background: #21c08b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #21c08b;
  width: 100%;
  height: 80px;
}
.header img {
  width: 200px;
  margin: 10px 0 10px 10px;
}

.main {
  width: 100%;
  height: 80vh;
  flex-direction: column;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* @include background; */
}
.main__box__error {
  font-size: 80px;
  color: white;
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.bounce {
  animation-name: bounce;
  background: none;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.footer__error {
  background: #8f57fd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100%;
}
.footer__error a {
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}
.footer__error a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 600px) {
  .footer__error .login__container {
    background-color: transparent;
    border: none;
    padding: 0px;
    width: 100%;
  }
  .footer__error .footer {
    align-items: flex-start;
    flex-direction: column;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #21c08b;
  width: 100%;
  height: 80px;
  background-color: #21c08b;
  width: 100%;
  height: 80px;
}

.header__img {
  width: 200px;
  margin: 10px 0 10px 10px;
}

.login {
  background: linear-gradient(#21c08b, #8f57fd);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 30px;
  min-height: calc(100vh - 200px);
}
.login__container {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 40px;
  color: #ffffff;
  padding: 60px 68px 40px;
  min-height: 700px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.login__container--form {
  display: flex;
  flex-direction: column;
}
.login__container--form label {
  font-size: 14px;
}
.login__container--remember-me {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.login__container--remember-me a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}
.login__container--remember-me a:hover {
  text-decoration: underline;
}
.login__container--social-media > div {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
}
.login__container div > img {
  width: 30px;
  margin-right: 10px;
}
.login__container--register {
  font-size: 14px;
}
.login__container--register a {
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}
.login__container--register a:hover {
  text-decoration: underline;
}

.input {
  background-color: transparent;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px solid white;
  font-family: "Muli", sans-serif;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0px 20px;
  outline: none;
  height: 50px;
}

::placeholder {
  color: white;
}

.button {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: "Muli", sans-serif;
  height: 50px;
  letter-spacing: 1px;
  margin: 10px 0px;
}
.button a {
  text-decoration: none;
  color: white;
}

.footer__login {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 100%;
}
.footer__login a {
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}
.footer__login a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .login__container {
    background-color: transparent;
    border: none;
    padding: 0px;
    width: 100%;
  }

  .footer {
    align-items: flex-start;
    flex-direction: column;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #21c08b;
  width: 100%;
  height: 80px;
}

.header__img {
  width: 200px;
  margin: 10px 0 10px 10px;
}

.login {
  background: linear-gradient(#21c08b, #8f57fd);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 30px;
  min-height: calc(100vh - 200px);
}
.login__container {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 40px;
  color: #ffffff;
  padding: 60px 68px 40px;
  min-height: 700px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  min-height: 580px;
}
.login__container--form {
  display: flex;
  flex-direction: column;
}
.login__container--form label {
  font-size: 14px;
}
.login__container--remember-me {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.login__container--remember-me a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}
.login__container--remember-me a:hover {
  text-decoration: underline;
}
.login__container--social-media > div {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
}
.login__container div > img {
  width: 30px;
  margin-right: 10px;
}
.login__container--register {
  font-size: 14px;
}
.login__container--register a {
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}
.login__container--register a:hover {
  text-decoration: underline;
}

.input {
  background-color: transparent;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px solid white;
  font-family: "Muli", sans-serif;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0px 20px;
  outline: none;
  height: 50px;
}

::placeholder {
  color: white;
}

.button {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: "Muli", sans-serif;
  height: 50px;
  letter-spacing: 1px;
  margin: 10px 0px;
}

.button__login {
  background-color: transparent;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  font-family: "Muli", sans-serif;
  height: 50px;
  letter-spacing: 1px;
  margin: 10px 0px;
}

.footer__register {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 180px;
  background: transparent;
}
.footer__register a {
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding-left: 20px;
  text-decoration: none;
}
.footer__register a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .login__container {
    background-color: transparent;
    border: none;
    padding: 0px;
    width: 100%;
  }

  .footer {
    align-items: flex-start;
    flex-direction: column;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #21c08b;
  width: 100%;
  height: 80px;
}

.header__img {
  width: 200px;
  margin: 10px 0 10px 10px;
}

.header__menu {
  position: relative;
  margin-right: 30px;
  height: 50px;
}

.header__menu ul {
  display: none;
  list-style: none;
  padding: 0;
  position: absolute;
  right: 0;
  width: 100px;
  text-align: right;
  display: block;
}

/* .header__menu:hover ul {

} */
.header__menu li {
  margin: 10px 0;
}

.header__menu li a {
  color: white;
  text-decoration: none;
}

.header__menu li a:hover {
  text-decoration: underline;
}

.header__menu--profile {
  display: flex;
  align-items: center;
  color: white;
}

.header__menu--profile img {
  margin-right: 8px;
  width: 40px;
}

.header__menu--profile a {
  margin: 0px;
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  background: #8D59FB;
}

.main {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.main__content {
  background: linear-gradient(#21c08b, #8f57fd);
}

.main__title {
  color: white;
  font-size: 25px;
}

.main__input {
  background-color: #7570E2;
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  margin-top: 25px;
  height: 50px;
  width: 70%;
}

.main__input:hover {
  border: 2px solid white;
}

::placeholder {
  color: white;
}

.categories__title {
  color: white;
  font-size: 20px;
  font-weight: 400;
  width: 150px;
  display: flex;
  justify-content: center;
}

/* CARROUSEL */
.carrousel {
  background: #8f57fd;
  width: 100%;
  position: relative;
}

.carrousel__container {
  padding-bottom: 10px;
}

.carrousel-item {
  background-color: aqua;
  width: 200px;
  height: 250px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center le;
}

.carrousel-item:hover ~ .carrousel-item {
  transform: translate3d(100px, 0, 0);
}

.carrousel__container:hover .carrousel-item {
  opacity: 0.3;
}

.carrousel__container:hover .carrousel-item:hover {
  transform: scale(1.5);
  opacity: 1;
}

/* Para ajustar las imagenes a su contenido */
.carrousel-item__img {
  width: 200px;
  height: 250px;
  object-fit: cover;
}

.carrousel-item__details {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 60%);
  font-size: 10px;
  opacity: 1;
  transition: 450ms opacity;
  padding: 8px;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

/* FOOTER */
.footer {
  background: #8f57fd;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 180px;
}
.footer a {
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding-left: 20px;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .login__container {
    background-color: transparent;
    border: none;
    padding: 0px;
    width: 100%;
  }

  .footer {
    align-items: flex-start;
    flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */
.main__play {
  width: 100%;
  height: 700px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: end;
  margin-top: 40px;
  /* @include background; */
}

.main__container {
  position: relative;
  height: 90%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #7570E2;
  border-radius: 15px;
  box-shadow: 1px 0px 20px 12px rgba(240, 240, 240, 0.1);
  /* both range slider */
  /* volume part */
  /* right part */
}
.main__container button {
  padding: 10px 12px;
}
.main__container .logo {
  /* position: absolute; */
  padding: 5px;
  margin-bottom: auto;
  white-space: pre;
  top: 10;
  left: 30;
  font-size: 25px;
  color: white;
  text-transform: capitalize;
}
.main__container .logo i {
  margin-right: 10px;
}
.main__container .right, .main__container .left {
  position: relative;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main__container .left img {
  height: 400px;
  width: 80%;
  border-radius: 15px;
  box-shadow: 1px 0px 20px 12px rgba(240, 240, 240, 0.2);
  object-fit: cover;
}
.main__container input[type=range] {
  -webkit-appearance: none;
  width: 50%;
  outline: none;
  height: 2px;
  margin: 0 15px;
}
.main__container input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: #21c08b;
  border-radius: 50%;
  cursor: pointer;
}
.main__container .right input[type=range] {
  width: 40%;
}
.main__container .left .volume {
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.main__container .left .volume p {
  font-size: 15px;
}
.main__container .left .volume i {
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 10px;
  background: #21c08b;
}
.main__container .left .volume i:hover {
  background: rgba(254, 254, 254, 0.1);
}
.main__container .left .volume__show--p {
  padding: 6px 8px;
  margin: 0 5px 0 0;
  border-radius: 10px;
  background: rgba(254, 254, 254, 0.1);
}
.main__container .right,
.main__container .middle {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__container .right__title,
.main__container .middle__title {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: capitalize;
  font-size: 35px;
  color: white;
}
.main__container .right__play,
.main__container .middle__play {
  margin-right: 10px;
  margin-left: 10px;
}
.main__container .right__artist,
.main__container .middle__artist {
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: capitalize;
  font-size: 18px;
  color: white;
}
.main__container .right__duration,
.main__container .middle__duration {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 20px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__container .right p,
.main__container .middle p {
  color: white;
}
.main__container button {
  border: none;
  height: 70px;
  margin-right: 10px;
  margin-left: 10px;
  width: 70px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  transition: 0.5s;
  background: rgba(245, 245, 245, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__container .right__auto--play {
  width: 130px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 45px;
  border: none;
  padding: 10px 14px;
  color: white;
  background: rgba(245, 245, 245, 0.1);
  outline: none;
  border-radius: 10px;
}
.main__container .right__auto--play i {
  margin-left: 8px;
}
.main__container .middle__play {
  background: #21c08b;
}
.main__container .right button:hover {
  background: #21c08b;
}
.main__container .right i:before {
  color: white;
  font-size: 20px;
}
.main__container .show__song__no {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  color: white;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
}
.main__container .show__song__no p:nth-child(2) {
  margin: 0 5px;
}

/*# sourceMappingURL=style.css.map */
