/* VARIABLES */
body {
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
  box-sizing: border-box;
}

.header {
  background: #21c08b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #21c08b;
  width: 100%;
  height: 80px;
}
.header img {
  width: 200px;
  margin: 10px 0 10px 10px;
}

.main {
  width: 100%;
  height: 80vh;
  flex-direction: column;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#21c08b, #8f57fd);
}
.main__box__error {
  font-size: 80px;
  color: white;
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.bounce {
  animation-name: bounce;
  background: none;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.footer__error {
  background: #8f57fd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100%;
}
.footer__error a {
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}
.footer__error a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 600px) {
  .footer__error .login__container {
    background-color: transparent;
    border: none;
    padding: 0px;
    width: 100%;
  }
  .footer__error .footer {
    align-items: flex-start;
    flex-direction: column;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #21c08b;
  width: 100%;
  height: 80px;
  background-color: #21c08b;
  width: 100%;
  height: 80px;
}

.header__img {
  width: 200px;
  margin: 10px 0 10px 10px;
}

.login {
  background: linear-gradient(#21c08b, #8f57fd);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 30px;
  min-height: calc(100vh - 200px);
}
.login__container {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 40px;
  color: #ffffff;
  padding: 60px 68px 40px;
  min-height: 700px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.login__container--form {
  display: flex;
  flex-direction: column;
}
.login__container--form label {
  font-size: 14px;
}
.login__container--remember-me {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.login__container--remember-me a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}
.login__container--remember-me a:hover {
  text-decoration: underline;
}
.login__container--social-media > div {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
}
.login__container div > img {
  width: 30px;
  margin-right: 10px;
}
.login__container--register {
  font-size: 14px;
}
.login__container--register a {
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}
.login__container--register a:hover {
  text-decoration: underline;
}

.input {
  background-color: transparent;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px solid white;
  font-family: "Muli", sans-serif;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0px 20px;
  outline: none;
  height: 50px;
}

::placeholder {
  color: white;
}

.button {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: "Muli", sans-serif;
  height: 50px;
  letter-spacing: 1px;
  margin: 10px 0px;
}
.button a {
  text-decoration: none;
  color: white;
}

.footer__login {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 100%;
}
.footer__login a {
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}
.footer__login a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .login__container {
    background-color: transparent;
    border: none;
    padding: 0px;
    width: 100%;
  }

  .footer {
    align-items: flex-start;
    flex-direction: column;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #21c08b;
  width: 100%;
  height: 80px;
}

.header__img {
  width: 200px;
  margin: 10px 0 10px 10px;
}

.login {
  background: linear-gradient(#21c08b, #8f57fd);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 30px;
  min-height: calc(100vh - 200px);
}
.login__container {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 40px;
  color: #ffffff;
  padding: 60px 68px 40px;
  min-height: 700px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  min-height: 580px;
}
.login__container--form {
  display: flex;
  flex-direction: column;
}
.login__container--form label {
  font-size: 14px;
}
.login__container--remember-me {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.login__container--remember-me a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}
.login__container--remember-me a:hover {
  text-decoration: underline;
}
.login__container--social-media > div {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
}
.login__container div > img {
  width: 30px;
  margin-right: 10px;
}
.login__container--register {
  font-size: 14px;
}
.login__container--register a {
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}
.login__container--register a:hover {
  text-decoration: underline;
}

.input {
  background-color: transparent;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px solid white;
  font-family: "Muli", sans-serif;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0px 20px;
  outline: none;
  height: 50px;
}

::placeholder {
  color: white;
}

.button {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: "Muli", sans-serif;
  height: 50px;
  letter-spacing: 1px;
  margin: 10px 0px;
}

.button__login {
  background-color: transparent;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  font-family: "Muli", sans-serif;
  height: 50px;
  letter-spacing: 1px;
  margin: 10px 0px;
}

.footer__register {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 180px;
  background: transparent;
}
.footer__register a {
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding-left: 20px;
  text-decoration: none;
}
.footer__register a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .login__container {
    background-color: transparent;
    border: none;
    padding: 0px;
    width: 100%;
  }

  .footer {
    align-items: flex-start;
    flex-direction: column;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #21c08b;
  width: 100%;
  height: 80px;
}

.header__img {
  width: 200px;
  margin: 10px 0 10px 10px;
}

.header__menu {
  position: relative;
  margin-right: 30px;
  height: 50px;
}

.header__menu ul {
  display: none;
  list-style: none;
  padding: 0;
  position: absolute;
  right: 0;
  width: 100px;
  text-align: right;
  display: block;
}

/* .header__menu:hover ul {

} */
.header__menu li {
  margin: 10px 0;
}

.header__menu li a {
  color: white;
  text-decoration: none;
}

.header__menu li a:hover {
  text-decoration: underline;
}

.header__menu--profile {
  display: flex;
  align-items: center;
  color: white;
}

.header__menu--profile img {
  margin-right: 8px;
  width: 40px;
}

.header__menu--profile a {
  margin: 0px;
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  background: #8D59FB;
}

.main {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__title {
  color: white;
  font-size: 25px;
}

.main__input {
  background-color: #9060FC;
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  margin-top: 25px;
  height: 50px;
  width: 70%;
}

.main__input:hover {
  border: 2px solid white;
}

::placeholder {
  color: white;
}

.categories__title {
  color: white;
  font-size: 20px;
  font-weight: 400;
  padding-left: 30px;
  width: 100%;
}

/* CARROUSEL */
.carrousel {
  background: #8f57fd;
  width: 100%;
  padding: 20px;
  position: relative;
  /* margin: 10px; */
}

.carrousel__container {
  margin: 25px 0px;
  padding-bottom: 10px;
}

.carrousel-item {
  background-color: aqua;
  width: 200px;
  height: 250px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center le;
}

.carrousel-item:hover ~ .carrousel-item {
  transform: translate3d(100px, 0, 0);
}

.carrousel__container:hover .carrousel-item {
  opacity: 0.3;
}

.carrousel__container:hover .carrousel-item:hover {
  transform: scale(1.5);
  opacity: 1;
}

/* Para ajustar las imagenes a su contenido */
.carrousel-item__img {
  width: 200px;
  height: 250px;
  object-fit: cover;
}

.carrousel-item__details {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 60%);
  font-size: 10px;
  opacity: 1;
  transition: 450ms opacity;
  padding: 8px;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

/* FOOTER */
.footer {
  background: #8f57fd;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 180px;
}
.footer a {
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding-left: 20px;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .login__container {
    background-color: transparent;
    border: none;
    padding: 0px;
    width: 100%;
  }

  .footer {
    align-items: flex-start;
    flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
