.header {
	background: $color-secundario;
	@include display-header;
	img {
		@include img;
	}
}

.main {
    width:100%;
    height:80vh;
	flex-direction: column;
	color: $color-primario;
	@include display;
    /* @include background; */
	&__box__error {
		font-size: 80px;
		color: white;
		animation-duration: 2.5s;
		animation-fill-mode: both;
		animation-iteration-count: infinite;
	}
}
.bounce {
	animation-name: bounce;
	background: none;
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

.footer__error {
	background: $color-terciario;
	@include display;
	height: 60vh;
	width: 100%;
	a {
		color: white;
		cursor: pointer;
		font-size: 14px;
		padding-left: 30px;
		text-decoration: none;
	}
	a:hover {
	text-decoration: underline;
	}
	@media only screen and (max-width: 600px) {
	.login__container {
		background-color: transparent;
		border: none;
		padding: 0px;
		width: 100%;
	}
	.footer {
		align-items: flex-start;
		flex-direction: column;
	}
	}
}




