/* VARIABLES */
$Fuente1: 'Muli', sans-serif;
$color-primario: white;
$color-secundario: #21c08b;
$color-terciario: #8f57fd;

body {
	margin: 0;
	padding: 0;
	font-family: 'Muli', sans-serif;
}

@mixin display-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
    background: $color-secundario;
	width: 100%;
	height: 80px;
}

@mixin header-menu {
	display: none;
	list-style: none;
	padding: 0;
	position: absolute;
	right: 0;
	width: 100px;
	text-align: right;
}

@mixin img {
	width: 200px;
	margin: 10px 0 10px 10px
}

@mixin display {
	display: flex;
	justify-content:center;
    align-items:center;
}

@mixin background {
	background: linear-gradient(#21c08b, #8f57fd);
}

@mixin login-container {
	background-color: rgba(255, 255, 255, 0.1);
	border: 2px solid white;
	border-radius:40px;
	color: #ffffff;
	padding: 60px 68px 40px;
	min-height: 700px;
	width: 300px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

@mixin input {
	background-color: transparent;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	border-bottom: 2px solid $color-primario;
	font-family:'Muli', sans-serif;
	margin-top:10px;
	margin-bottom: 20px;
	padding: 0px 20px;
	outline: none;
	height: 50px;
}

@mixin button {
	background-color: rgba(255, 255, 255, 0.1);
	border: none;
	border-radius: 25px;
	color: $color-primario;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	font-family:'Muli', sans-serif;
	height: 50px;
	letter-spacing: 1px;
	margin: 10px 0px;
}

@mixin button-login {
	background-color: transparent;
	border: none;
	border-radius: 25px;
	color: white;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	font-family:'Muli', sans-serif;
	height: 50px;
	letter-spacing: 1px;
	margin: 10px 0px;
}
