.main__play {
    width: 100%;
    height: 800px;
    position: relative;
    @include display;
    @include background;
}


.main__container {
    position: relative;
    height:80%;
    width: 70%;
    @include display;
    background: #7570E2;
    border-radius: 15px;
    box-shadow: 1px 0px 20px 12px rgba(240, 240, 240, 0.1);
    button {
        padding: 10px 12px;
    }
    .logo {
        /* position: absolute; */
        padding: 5px;
        margin-bottom: auto;
        white-space: pre;
        top: 10;
        left: 30;
        font-size: 25px;
        color: $color-primario;
        text-transform: capitalize;
        i {
            margin-right: 10px;
        }
    }
    .right, .left {
        position: relative;
        height: 100%;
        width: 50%;
        @include display;
        flex-direction: column;
    }
    .left img {
        height: 400px;
        width: 80%;
        border-radius: 15px;
        box-shadow: 1px 0px 20px 12px rgba(240, 240, 240, 0.2);
        object-fit: cover;
    }

    /* both range slider */
    input[type="range"] {
        -webkit-appearance:none;
        width: 50%;
        outline: none;
        height: 2px;
        margin: 0 15px;
    }
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance:none;
        height: 20px;
        width: 20px;
        background: $color-secundario;
        border-radius: 50%;
        cursor: pointer;
    }
    .right input[type="range"]{
        width: 40%;
    }

    /* volume part */
    .left .volume {
        position: absolute;
        bottom: 10%;
        left: 0;
        width: 100%;
        height: 30px;
        @include display;
        color: $color-primario;
        p {
            font-size: 15px;
        }
        i {
            cursor: pointer;
            padding: 6px 8px;
            border-radius:10px;
            background: $color-secundario;
        }
        i:hover {
            background: rgba(254,254,254,0.1);
        }
        &__show--p {
            padding: 6px 8px;
            margin: 0 5px 0 0;
            border-radius:10px;
            background: rgba(254,254,254,0.1);
        }
    }
    /* right part */
    .right,
    .middle {
        width: 50%;
        @include display;
        &__title {
            position: absolute;
            top: 60px;
            left: 50%;
            transform: translateX(-50%);
            text-transform: capitalize;
            font-size: 35px;
            color: $color-primario;
            }
        &__play {
            margin-right: 10px;
            margin-left: 10px;
            }
        &__artist {
            position: absolute;
            top: 120px;
            left: 50%;
            transform: translateX(-50%);
            text-transform: capitalize;
            font-size: 18px;
            color: $color-primario;
            }
        &__duration {
            position: absolute;
            bottom: 20%;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 20px;
            margin-top: 40px;
            @include display;
            }
            p {
                color: $color-primario;
            }
        }
    button {
        border: none;
        height: 70px;
        margin-right: 10px;
        margin-left: 10px;
        width: 70px;
        border-radius: 50%;
        cursor: pointer;
        outline: none;
        transition: 0.5s;
        background: rgba(245, 245, 245,0.1);
        @include display;
        }
    .right__auto--play {
        width: 130px;
        font-size: 18px;
        cursor: pointer;
        margin-top: 45px;
        border: none;
        padding: 10px 14px;
        color: $color-primario;
        background: rgba(245, 245, 245, 0.1);
        outline: none;
        border-radius: 10px;
        i {
            margin-left: 8px;
            }
        }
    .middle__play {
        background: $color-secundario;
    }
    .right button:hover {
        background: $color-secundario;
    }
    .right i:before {
        color: $color-primario;
        font-size: 20px;
    }
    .show__song__no {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 20px;
        @include display;
        padding: 8px 12px;
        color: $color-primario;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.2);
        p:nth-child(2){
            margin: 0 5px;
        }
    }
}